---
const customer = "Despachos y asesoría del Golfo S.A. de C.V.";
const email = "direccion@despachosyasesoria.com";
const web = "www.dagsalogistics.com";
const address = "la calle Isabel la Católica #1450 Altos, colonia Electricistas, Veracruz, Veracruz, código postal 91916";
const updatedAt = "04/06/2025";
---

<section class="px-8 sm:px-24 md:px-28 lg:px-32 mt-40 space-y-6 mb-20">

    <h1 class="text-center text-xl"><strong>Aviso de Privacidad Integral</strong></h1>
    <p>
        El presente documento constituye el "Aviso de Privacidad" el cual establece los términos bajo los que se manejará su información por parte de <strong>{ customer }</strong>, quien funge como titular de la página de la marca <strong>{ customer }</strong>, de conformidad con lo dispuesto en los artículos 15 y 16 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.
    </p>
    <p>
        Este aviso describe la finalidad para la cual se ha recabado su información, así como el tipo de datos que se están tratando y las opciones disponibles para limitar su uso. Además, se detalla el procedimiento para ejercer sus derechos en materia de protección de datos, en cumplimiento de los principios de Licitud, Consentimiento, Calidad, Información, Finalidad, Lealtad, Proporcionalidad y Responsabilidad que establece la citada ley.
    </p>
    <p>
        <strong>{ customer }</strong>, reconoce y respeta su derecho a la privacidad y protección de datos personales, incluidos los datos personales sensibles, como los datos financieros o patrimoniales, los cuales están protegidos por la Ley. La responsabilidad sobre la base de datos que contiene su información recae en <strong>{ customer }</strong>, cuyo domicilio es el ubicado en { address }.
    </p>
    <p>
        Además, se garantiza que su información se encuentra debidamente resguardada, cumpliendo con las disposiciones de seguridad administrativa, técnica y física establecidas en la Ley de la materia. Esto se realiza con el fin de protegerla de posibles daños, pérdidas, alteraciones o accesos no autorizado.
    </p>
    <p>
        El titular de la información reconoce y acepta que al proporcionar sus Datos a través de este "Aviso de Privacidad", o mediante cualquier medio electrónico, como lo es el correo electrónico <strong><a href=`mailto:${ email }`>{ email }</a></strong>, otorga su consentimiento expreso para que <strong>{ customer }</strong> lleve a cabo el tratamiento de sus Datos, de conformidad con lo establecido en este Aviso de Privacidad.
    </p>


    <h2 class="underline"><strong>Datos Personales</strong></h2>
    <p>
        Los datos personales que recabaremos serán aquellos que usted haya incluido en su perfil, y serán tratados y resguardados con base en los principios establecidos en la Ley y su Reglamento. Para cumplir con las finalidades que se mencionan en el presente Aviso, requerimos que nos proporcione los siguientes datos: nombre completo, número telefónico, correo electrónico, ciudad y estado de residencia.
    </p>


    <h2 class="underline"><strong>Datos Sensibles</strong></h2>
    <p>
        El Titular de la Información reconoce y acepta que, debido a su relación con <strong>{ customer }</strong>, no ha proporcionado, ni tendrá que proporcionar “datos personales sensibles”, es decir, aquellos datos personales íntimos o cuya realización debida o indebida pueda dar origen a discriminación o conlleve un riesgo grave para éste. En el supuesto de que el Titular de la Información proporcione datos del tipo de los llamados sensibles, deberá estar de acuerdo en proporcionarlos previamente y dejará a <strong>{ customer }</strong> libre de cualquier queja o reclamación respectiva.
    </p>


    <h2><strong>Medios para ejercer los Derechos de Acceso, Rectificación, Cancelación u Oposición</strong></h2>
    <p>
        Usted tiene derecho constitucional de Acceder y conocer los datos personales que poseemos y a los detalles del tratamiento y uso de los mismos, así como a Rectificarlos y corregirlos en caso de ser inexactos o incompletos; Cancelarlos y eliminarlos cuando considere que no se requieren para alguna de las finalidades señaladas en el presente aviso de privacidad, o que estén siendo utilizados para finalidades no autorizadas por usted o haya finalizado la relación jurídica o de servicio, o bien, Oponerse al tratamiento de los mismos para fines específicos, enviando una solicitud a <strong>{ customer }</strong> a través de los sitios <strong><a href=`https://${ web }` target="_blank">{ web }</a></strong> o al correo electrónico <strong><a href=`mailto:${ email }`>{ email }</a></strong> indicando por lo menos su nombre y domicilio completo o cualquier otro dato o documento que permita su identificación, así como el objeto de su solicitud y/o trámite a efectuar. Lo anterior se deberá realizar en base a la Ley y su Reglamento.
    </p>
  

    <h2 class="underline"><strong>Finalidad</strong></h2>
    <p>
        Sus datos personales e historial como cliente serán utilizados por <strong>{ customer }</strong> o por cualquiera de sus subsidiarias y/o filiales, y quedarán registrados en nuestra base de datos, así como cualquier otra información personal, sensible o de cualquier otra índole, siempre que se cumpla con lo establecido en la Ley y su Reglamento respecto a cada tipo de información. Esta información puede ser utilizada por <strong>{ customer }</strong> para control interno, finalidad comercial, avisos publicitarios y de mercadotecnia.
    </p>
    <p>
        Esta información podrá usarse de manera enunciativa mas no limitativa para: (1) ofrecerle productos y servicios, ya sea de manera física, telefónica, electrónica o por cualquier otra tecnología o medio que esté al alcance de <strong>{ customer }</strong>; (2) hacer de su conocimiento nuevos productos o servicios que puedan ser de interés en relación con el servicio contratado; (3) realizar para su comodidad los cargos facturados de manera automática; (4) emitir órdenes de compra o solicitudes de trabajo, según corresponda; y/o (5) cualquier otra acción que sea necesaria para cumplir con los intereses de <strong>{ customer }</strong> respecto al acuerdo que haya llegado con el Titular de la Información.
    </p>


    <h2 class="underline"><strong>Transferencia</strong></h2>
    <p>
        El Titular de la Información entiende y acepta que <strong>{ customer }</strong> y/o cualquiera de sus subsidiarias y/o filiales, podrá transferir sus datos personales a terceros que han sido contratados por <strong>{ customer }</strong> para que realicen en su nombre y representación ciertas tareas relacionadas con las actividades comerciales y de promoción de sus productos y/o servicios. Estas terceras partes pueden tratar los datos en cumplimiento de las instrucciones de <strong>{ customer }</strong>, o tomar decisiones sobre ellos como parte de la prestación de sus servicios. En cualquiera de los dos casos, <strong>{ customer }</strong> seleccionará proveedores que considere confiables y que se comprometan, mediante un contrato u otros medios legales aplicables, a implementar las medidas de seguridad necesarias para garantizar un nivel de protección adecuado a sus datos personales. Derivado de lo anterior, <strong>{ customer }</strong> exigirá a sus proveedores que cumplan con medidas de seguridad que garanticen los mismos niveles de protección que <strong>{ customer }</strong> implementa durante el tratamiento de sus datos como cliente de <strong>{ customer }</strong> Estas terceras partes seleccionadas tendrán acceso a su información con la finalidad de realizar las tareas especificadas en el contrato de servicios aplicable que haya suscrito con <strong>{ customer }</strong> Si <strong>{ customer }</strong> determina que un proveedor no está cumpliendo con las obligaciones pactadas, tomará inmediatamente las acciones pertinentes.  
    </p>
    <p>
        Si el titular, no acepta la transmisión de sus datos personales de conformidad con lo estipulado en el párrafo anterior, puede ponerse en contacto con <strong>{ customer }</strong>, por cualquiera de los medios establecidos en el presente Aviso de Privacidad.
    </p>


    <h2 class="underline"><strong>Excepciones</strong></h2>
    <p>
        Adicionalmente y de conformidad con lo estipulado en los Artículos 10, 37 y demás relativos de la Ley y su Reglamento, <strong>{ customer }</strong> quedará exceptuado de las obligaciones referentes al consentimiento para el Tratamiento y Transferencia de sus Datos, cuando:
    </p>
    <div class="pl-6">
        <ol class="list-inside list-[upper-roman]">
            <li>Esté previsto en una Ley;</li>
            <li>Los datos figuren en fuentes de acceso público;</li>
            <li>Los datos personales se sometan a un procedimiento previo de disociación;</li>
            <li>Tenga el propósito de cumplir obligaciones derivadas de una relación jurídica entre el titular y el responsable;</li>
            <li>Exista una situación de emergencia que potencialmente pueda dañar a un individuo en su persona o en sus bienes;</li>
            <li>Sean indispensables para la atención médica, la prevención, diagnóstico, la prestación de asistencia sanitaria, tratamientos médicos o la gestión de servicios sanitarios;</li>
            <li>Se dicte resolución de autoridad competente;</li>
            <li>Cuando la transferencia sea precisa para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial, y</li>
            <li>Cuando la transferencia sea precisa para el mantenimiento o cumplimiento de una relación jurídica entre el responsable y el titular.</li>
        </ol>
    </div>


    <h2 class="underline"><strong>Modificaciones</strong></h2>
    <p>
        En caso de que se requiera alguna modificación a lo estipulado en el presente Aviso de Privacidad <strong>{ customer }</strong> se obliga a hacer del conocimiento los cambios que en su caso se requieran, por cualquier medio, incluidos los electrónicos, previo aviso que se le dé a usted para que se manifieste por su parte, lo que a su derecho convenga, ya que de no recibir negativa expresa y por escrito de su parte, o bien, respuesta alguna, se entenderá que usted acepta de conformidad los cambios realizados. 
    </p>


    <h2 class="underline"><strong>Consentimiento del Titular</strong></h2>
    <p>
        El Titular de la Información reconoce y acepta que en caso de que este “Aviso de Privacidad” esté disponible a través de una página electrónica (sitio web, página de Internet o similar) o algún otro dispositivo electrónico, al hacer clic en “aceptar” o de cualquier otra forma seguir navegando en el sitio, o bien al proporcionar sus Datos a través del mismo o a través de cualquier medio electrónico (correo electrónico, etc.), constituye una manifestación de su consentimiento para que <strong>{ customer }</strong> realice el tratamiento de sus Datos, de conformidad con este Aviso de Privacidad. 
    </p>
    <p>
        Asimismo, de igual manera manifiesta que en caso de que este “Aviso de Privacidad” esté disponible por escrito, su firma, rúbrica, nombre o huella o bien al proporcionar sus Datos, constituye una manifestación de su consentimiento para que <strong>{ customer }</strong> realice el tratamiento de sus datos, de conformidad con este “Aviso de Privacidad”.
    </p>


    <h2 class="underline"><strong>Notificación de cambios del aviso</strong></h2>
    <p>
        Si <strong>{ customer }</strong> cambia este aviso de privacidad, dichos cambios aparecerán en los sitios web <strong><a href=`https://${ web }` target="_blank">{ web }</a></strong>
    </p>
    <p>
        Si usted tiene alguna pregunta o desea ejercer algún derecho relacionada con esta declaración de privacidad, por favor comuníquese con <strong>{ customer }</strong> y/o sus empresas filiales a la siguiente dirección: <strong><a href=`mailto:${ email }`>{ email }</a></strong>
    </p>


    <p><strong><em>
        Este aviso de privacidad ha sido creado en base a las reglas expedidas por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares con fundamento en los artículos 16, 17 y 36 de la Ley y corresponsales de su Reglamento. 
    </em></strong></p>


    <p class="text-sm text-right"><em>
        Fecha de Actualización { updatedAt }
    </em></p>
    
</section>