---
const customer = "Despachos y asesoría del Golfo S.A. de C.V.";
const email = "comercial@dagsalogistics.com";
const web = "www.dagsalogistics.com";
const address = "la calle Isabel la Católica #1450 Altos, colonia Electricistas, Veracruz, Veracruz, código postal 91916";
---

<section class="px-8 sm:px-24 md:px-28 lg:px-32 mt-40 space-y-6 mb-20">

    <h1 class="text-center text-xl"><strong>Terminos y Condiciones</strong></h1>
    
    <h2 class="uppercase"><strong>Resumen</strong></h2>
    <p>
        Este sitio web con dominio <strong><a href=`https://${ web }` target="_blank">{ web }</a></strong> es operado por <strong>{ customer }</strong> A lo largo de la presente declaración de TÉRMINOS DEL SERVICIO se mencionará "nosotros" y "nuestro" refiriéndose a la marca Despachos y asesoría del Golfo S.A. de C.V. quien ofrece este sitio web, incluyendo toda la información, herramientas y servicios disponibles para el usuario, condicionando la aceptación de todos los términos, condiciones, políticas y avisos aquí establecidos.
    </p>
    <p>
        Al visitar nuestro sitio, el “USUARIO” participa en nuestro "SERVICIO" y acepta estar sujeto a nuestros “TÉRMINOS DEL SERVICIO”, incluidos términos y condiciones adicionales y políticas accesibles mediante hipervínculos dentro de nuestro sitio web. Estos TÉRMINOS DEL SERVICIO se aplican a todos los usuarios del sitio, incluidos sin limitación, navegadores, vendedores, proveedores, clientes, comerciantes y/o contribuidores de contenido.
    </p>
    <p>
        Por favor, revise cuidadosamente la presente información antes de navegar en nuestro sitio web. Al acceder o utilizar cualquier parte de nuestro sitio web, el usuario acepta estar sujeto a los TÉRMINOS DEL SERVICIO. <strong>Si no está de acuerdo con los presentes términos y condiciones, deberá abstenerse de acceder o utilizar el sitio</strong>. 
    </p>
    <p>
        Las nuevas características o herramientas que se agreguen al sitio web también estarán sujetas a los TÉRMINOS DEL SERVICIO. Siempre que el usuario lo desee, podrá revisar la versión actualizada en esta página. Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de nuestros términos, condiciones o políticas mediante la publicación de actualizaciones y/o cambios en nuestro sitio web. Es responsabilidad del usuario revisar esta página periódicamente para verificar si hay cambios. El uso continuo o acceso al sitio web después de la publicación de cualquier cambio constituye la aceptación de estos.
    </p>


    <h2 class="uppercase"><strong>CONDICIONES GENERALES</strong></h2>
    <p>
        Nos reservamos el derecho de rechazar el servicio a cualquier persona, por cualquier motivo, en cualquier momento. 
    </p>
    <p>
        El usuario se compromete a no reproducir, duplicar, copiar, vender, revender o explotar ninguna parte, producto, contacto o acceso a nuestro servicio, sin el permiso expreso por escrito de parte de nosotros.
    </p>
    <p>
        Los encabezados utilizados en este acuerdo se incluyen sólo por conveniencia y no limitarán ni afectarán de ninguna otra manera estos términos. 
    </p>


    <h2 class="uppercase"><strong>EXACTITUD, INTEGRIDAD Y ACTUALIZACIÓN DE LA INFORMACIÓN (CONTENIDOS DEL SITIO WEB)</strong></h2>
    <p>
        No somos responsables si la información disponible en nuestro sitio web no es exacta, completa o actualizada. El material de este sitio se proporciona únicamente para fines informativos generales. Nos reservamos el derecho de modificar el contenido de este sitio en cualquier momento. El usuario acepta que es su responsabilidad supervisar cualquier cambio que se realice en nuestro sitio.
    </p>









    <p class="text-sm text-right"><em>
        Fecha de Actualización 04/06/2025
    </em></p>

</section>