---
const customer = "Despachos y asesoría del Golfo S.A. de C.V.";
const email = "comercial@dagsalogistics.com";
const web = "www.dagsalogistics.com";
const city = "Veracruz, Veracruz";
---

<section class="px-8 sm:px-24 md:px-28 lg:px-32 mt-40 space-y-6 mb-20">

    <h1 class="text-center text-xl"><strong>Terminos y Condiciones</strong></h1>
    
    <h2><strong>RESUMEN</strong></h2>
    <p>
        Este sitio web con dominio <strong><a href=`https://${ web }` target="_blank">{ web }</a></strong> es operado por <strong>{ customer }</strong> A lo largo de la presente declaración de TÉRMINOS DEL SERVICIO se mencionará "nosotros" y "nuestro" refiriéndose a la marca <strong>{ customer }</strong> quien ofrece este sitio web, incluyendo toda la información, herramientas y servicios disponibles para el usuario, condicionando la aceptación de todos los términos, condiciones, políticas y avisos aquí establecidos.
    </p>
    <p>
        Al visitar nuestro sitio, el “USUARIO” participa en nuestro "SERVICIO" y acepta estar sujeto a nuestros “TÉRMINOS DEL SERVICIO”, incluidos términos y condiciones adicionales y políticas accesibles mediante hipervínculos dentro de nuestro sitio web. Estos TÉRMINOS DEL SERVICIO se aplican a todos los usuarios del sitio, incluidos sin limitación, navegadores, vendedores, proveedores, clientes, comerciantes y/o contribuidores de contenido.
    </p>
    <p>
        Por favor, revise cuidadosamente la presente información antes de navegar en nuestro sitio web. Al acceder o utilizar cualquier parte de nuestro sitio web, el usuario acepta estar sujeto a los TÉRMINOS DEL SERVICIO. <strong>Si no está de acuerdo con los presentes términos y condiciones, deberá abstenerse de acceder o utilizar el sitio</strong>. 
    </p>
    <p>
        Las nuevas características o herramientas que se agreguen al sitio web también estarán sujetas a los TÉRMINOS DEL SERVICIO. Siempre que el usuario lo desee, podrá revisar la versión actualizada en esta página. Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de nuestros términos, condiciones o políticas mediante la publicación de actualizaciones y/o cambios en nuestro sitio web. Es responsabilidad del usuario revisar esta página periódicamente para verificar si hay cambios. El uso continuo o acceso al sitio web después de la publicación de cualquier cambio constituye la aceptación de estos.
    </p>


    <h2><strong>CONDICIONES GENERALES</strong></h2>
    <p>
        Nos reservamos el derecho de rechazar el servicio a cualquier persona, por cualquier motivo, en cualquier momento. 
    </p>
    <p>
        El usuario se compromete a no reproducir, duplicar, copiar, vender, revender o explotar ninguna parte, producto, contacto o acceso a nuestro servicio, sin el permiso expreso por escrito de parte de nosotros.
    </p>
    <p>
        Los encabezados utilizados en este acuerdo se incluyen sólo por conveniencia y no limitarán ni afectarán de ninguna otra manera estos términos. 
    </p>


    <h2><strong>EXACTITUD, INTEGRIDAD Y ACTUALIZACIÓN DE LA INFORMACIÓN (CONTENIDOS DEL SITIO WEB)</strong></h2>
    <p>
        No somos responsables si la información disponible en nuestro sitio web no es exacta, completa o actualizada. El material de este sitio se proporciona únicamente para fines informativos generales. Nos reservamos el derecho de modificar el contenido de este sitio en cualquier momento. El usuario acepta que es su responsabilidad supervisar cualquier cambio que se realice en nuestro sitio.
    </p>


    <h2><strong>INFORMACIÓN PERSONAL</strong></h2>
    <p>
        La información personal del usuario es recopilada, almacenada, utilizada y divulgada por nosotros siguiendo los más altos estándares de seguridad. Los datos proporcionados por el usuario se rigen por nuestro AVISO DE PRIVACIDAD, el cual está disponible en nuestro sitio web para su consulta.
    </p>


    <h2><strong>USOS PROHIBIDOS</strong></h2>
    <p>
        Además de otras prohibiciones establecidas en los TÉRMINOS DEL SERVICIO, está prohibido utilizar el sitio o su contenido: (a) para cualquier propósito ilícito; b) solicitar a otros que realicen o participen en actos ilícitos; (c) violar cualquier reglamento o ley local, internacional, federal o estatal; (d) infringir o violar nuestros derechos de propiedad intelectual o los derechos de propiedad intelectual de terceros; (e) acosar, abusar, insultar, dañar, difamar, calumniar, desacreditar, intimidar o discriminar por motivos de género, orientación sexual, religión, origen étnico, raza, edad, nacionalidad o discapacidad; f) presentar información falsa o engañosa; (g) cargar o transmitir virus o cualquier otro código de tipo malicioso; (h) recopilar o rastrear la información personal de otros; (i) realizar spam, phishing o cualquier otra irregularidad y/o fraude electrónico; (j) para cualquier propósito obsceno o inmoral; (k) interferir o eludir las características de seguridad del Servicio. Nos reservamos el derecho de terminar el uso del servicio a cualquier usuario que viole los usos prohibidos. 
    </p>


    <h2><strong>USO Y RESTRICCIONES</strong></h2>
    <p>
        El acceso o utilización del Sitio expresan la plena adhesión del Usuario a los presentes Términos y Condiciones. A través del Sitio, el Usuario podrá acceder, contratar y/o utilizar diversos servicios y contenidos (los “Servicios y Contenidos”), proporcionados por la Empresa. La Empresa se reserva el derecho a negar, restringir o condicionar al Usuario el acceso al Sitio, total o parcialmente, a su entera discreción, así como a modificar los Servicios y Contenidos del Sitio en cualquier momento y sin necesidad de previo aviso. 
    </p>
    <p>
        El Usuario reconoce que no todos los Servicios y Contenidos están disponibles en todas las áreas geográficas y que algunos Servicios y Contenidos pueden requerir contratación, activación o registro previo y/o pago. 
    </p>
    <p>
        La Empresa no garantiza la disponibilidad y continuidad de la operación del Sitio y de los Servicios y Contenidos, ni la utilidad para alguna actividad específica, independientemente del medio de acceso utilizado por el Usuario. La Empresa no será responsable por cualquier daño o pérdida debido a la falta de disponibilidad o continuidad del Sitio y/o de los Servicios y Contenidos.
    </p>
    <p>
        El uso de los Servicios y Contenidos en el Sitio es exclusiva responsabilidad del Usuario, quien deberá utilizarlos conforme a las funcionalidades permitidas en el Sitio y los usos autorizados en los presentes Términos y Condiciones. El Usuario se compromete a no contravenir las buenas costumbres, los derechos de terceros, las normas de uso y convivencia en Internet, las leyes de los Estados Unidos Mexicanos y, la legislación vigente en el país en que el Usuario se encuentre al acceder al Sitio y usar los Servicios y Contenidos. El Sitio es para el uso individual del Usuario por lo que no podrá comercializar de manera alguna los Servicios y Contenidos.
    </p>
    <p>
        El Usuario se obliga a dejar en paz y a salvo a la Empresa, a sus accionistas, subsidiarias, afiliadas, funcionarios, directores, empleados, asesores, apoderados, representantes y/o cualquier persona relacionada con ésta, respecto del uso de la información o documentación adquirida por parte del Usuario a través del Sitio, en la inteligencia de que la Empresa no es, ni será responsable de cualquier uso que el Usuario le dé a dicha información o documentación, ni por las consecuencias generadas o que pudieran generarse derivado de su uso.
    </p>
    <p>
        El Usuario no tiene el derecho de colocar híper ligas dentro del Sitio, a utilizar las ligas del Sitio, ni el derecho de colocar o utilizar los Servicios y Contenidos en sitios o páginas propias o de terceros sin autorización previa y por escrito de la Empresa. El Usuario no podrá impedir a cualquier otro Usuario el uso del Sitio ni de los Servicios y Contenidos.
    </p>


    <h2><strong>PROPIEDAD INTELECTUAL</strong></h2>
    <p>
        <strong>{ customer }</strong> cuenta sus registros marcarios ante el Instituto Mexicano de Propiedad Industrial, así que queda prohibido el uso indebido de <strong>{ customer }</strong> bajo ningún tipo de circunstancia. En cuanto a las fotografías, imágenes y videos que se utilicen en la página web de <strong>{ customer }</strong>, se declara en la presente cláusula que los derechos de autor pertenecen a <strong>{ customer }</strong> y se prohíbe hacer un uso con las mismas. Sus logotipos y todo el material que aparece en la página de Internet referida son marcas, nombres de dominio y/o nombres comerciales propiedad de sus respectivos titulares protegidos por los tratados internacionales y leyes aplicables en materia de propiedad intelectual y derechos de autor. 
    </p>
    <p>
        Los derechos de propiedad intelectual, derechos de autor, propiedad industrial respecto de los Servicios y Contenidos, los signos distintivos y dominios de las Páginas o del Sitio, así como los derechos de uso y explotación de estos, incluyendo de manera enunciativa más no limitativa, su divulgación, publicación, reproducción, distribución y transformación, son propiedad exclusiva de la Empresa. El Usuario no adquiere ningún derecho de propiedad intelectual, derechos de autor y/o propiedad industrial por el simple uso o acceso de los Servicios y Contenidos del Sitio y, en ningún momento, dicho uso será considerado como una autorización o licencia para utilizar los Servicios y Contenidos con fines distintos a los que se contemplan en los presentes Términos y Condiciones.
    </p>


    <h2><strong>PROPIEDAD INTELECTUAL DE TERCEROS</strong></h2>
    <p>
        El Usuario acuerda que las disposiciones establecidas en las leyes aplicables en materia de propiedad intelectual y derechos de autor, respecto a la titularidad de los derechos de la Empresa, también son aplicables a los derechos de terceros sobre los Servicios y Contenidos de las páginas, dominios o presentación de información o vinculada al Sitio.
    </p>


    <h2><strong>CALIDAD DE LOS SERVICIOS Y CONTENIDOS Y SUS GARANTÍAS</strong></h2>
    <p>
        Los Servicios y Contenidos, así como las recomendaciones y consejos obtenidos a través del Sitio, son de naturaleza general y no deben ser considerados para la toma de decisiones personales, comerciales o profesionales. Para ello, se debe consultar a un profesional adecuado que pueda asesorar al Usuario según sus necesidades específicas. La Empresa ofrece herramientas y materiales a través del Sitio para la preparación de los Servicios.
    </p>
    <p>
        Todos los Servicios y Contenidos, incluyendo descripciones, información, definiciones y otros recursos, son estrictamente informativas y generales. La Empresa no garantiza su exactitud o actualización.
    </p>
    <p>
        La Empresa ofrece los Servicios y Contenidos con un nivel de competencia y diligencia razonable desde un punto de vista comercial, sin embargo, no ofrece ningún tipo de garantía en relación con estos. El Sitio es proporcionado por la Empresa “tal como está” y “según disponibilidad”. La Empresa no manifiesta ninguna representación o garantía de ningún tipo, expresa o implícita, en relación con la operación del Sitio, información, contenido, materiales, servicios o productos incluidos. El Usuario acepta expresamente que el uso del Sitio bajo su propio riesgo. La Empresa se reserva el derecho a remover o eliminar cualquier información del Sitio, en cualquier momento, a su entera discreción. Ni la Empresa, ni sus proveedores, socios comerciales o distribuidores ofrecen garantías específicas sobre los Servicios y Contenidos; la Empresa excluye todas las garantías en la medida que las leyes vigentes lo permitan.
    </p>
    <p>
        De conformidad con los Términos y Condiciones, la Empresa no asume ni asumirá ningún tipo de responsabilidad frente a ninguna persona, derivada o que pudiera derivarse por los Servicios y Contenidos, navegación en el Sitio, consultas, aclaraciones y/o cualquier otra clase de respuesta otorgada por parte de la Empresa por cualquier medio de comunicación.
    </p>
    <p>
        El Usuario se obliga a dejar en paz y a salvo a la Empresa, a sus accionistas, subsidiarias, afiliadas, funcionarios, directores, empleados, asesores, apoderados, representantes y/o cualquier persona relacionada con ésta, de cualquier responsabilidad que pudiera imputarse en virtud y/o en relación con el Sitio, la prestación de los Servicios y Contenidos o cualquier otro derivado de los presentes Términos y Condiciones.
    </p>
    <p>
        El Usuario entiende y acepta que la Empresa se encontrará limitada por responsabilidad de cualquier tipo, en todos los casos, al monto pagado como contraprestación por los Servicios y Contenidos.
    </p>


    <h2><strong>PAGOS</strong></h2>
    <p>
        La Empresa a su entera discreción podrá cambiar el precio de cada uno de los Servicios y Contenidos dentro del Sitio en cualquier momento.
    </p>


    <h2><strong>BIENES Y SERVICIOS DE TERCEROS ENLAZADOS</strong></h2>
    <p>
        El hecho de que se ofrezca información en el Sitio o en otros sitios ligados o vinculados, no implica la recomendación, garantía, patrocinio o aprobación por parte de la Empresa respecto de dicha información, bienes y/o servicios. La disponibilidad de bienes y/o servicios ofertados por terceros o por sitios ligados o vinculados, no es responsabilidad de la Empresa. En virtud de lo anterior, la Empresa no será responsable ante cualquier autoridad de cualquier naturaleza, por cualquier asunto relacionado con la venta, consumo, distribución, entrega, disponibilidad o prestación con respecto de cualquiera de los bienes y/o servicios ofertados por terceros o por sitios ligados o vinculados a través del Sitio. Respecto de los Servicios y Contenidos que prestan terceros dentro o mediante enlaces al Sitio (tales como ligas, banners y botones), la Empresa se limita exclusivamente, para conveniencia del Usuario, a: (i) informar al Usuario sobre los mismos y, (ii) a proporcionar un medio para poner en contacto al Usuario con proveedores o vendedores. Los productos y/o servicios que se comercializan dentro del Sitio y/o en los sitios de terceros enlazados son suministrados por comerciantes independientes y no se entenderá en ningún caso que son responsabilidad de la Empresa. No existe ningún tipo de relación laboral, asociación o sociedad, entre la Empresa y dichos terceros. Toda asesoría, consejo, declaración, información y contenido de las páginas de terceros enlazadas o dentro del Sitio representan las opiniones y juicios de dicho tercero, consecuentemente, la Empresa no será responsable de ningún daño o perjuicio que sufra el Usuario a consecuencia de estos.
    </p>


    <h2><strong>CONFIDENCIALIDAD</strong></h2>
    <p>
        La Empresa se obliga a mantener confidencial la información que reciba del Usuario que tenga dicho carácter conforme a las disposiciones legales aplicables en los Estados Unidos Mexicanos; la Empresa no asume ninguna obligación de mantener confidencial cualquier otra información que el Usuario le proporcione.
    </p>
    <p>
        La Empresa podrá divulgar la información del Usuario y de los Servicios y Contenidos adquiridos por éste a aquellos terceros que, en virtud de los servicios y productos ofrecidos y adquiridos, necesiten conocerlos para cumplir cabalmente con los mismos.
    </p>
    <p>
        Asimismo, la Empresa puede divulgar su información a las autoridades competentes en términos de la legislación aplicable; cualquier transferencia de sus datos personales sin consentimiento se realizará de acuerdo con el Artículo 37 de la LFPDPPP.
    </p>


    <h2><strong>USO DE LA INFORMACIÓN NO CONFIDENCIAL</strong></h2>
    <p>
        Mediante el uso del Sitio, el Usuario autoriza a la Empresa, de manera enunciativa más no limitativa, a utilizar, publicar, reproducir, divulgar, comunicar públicamente y transmitir la información no confidencial, en términos de lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de Particulares, en la Ley Federal de los Derechos de Autor, en la Ley Federal de Protección al Consumidor y en cualquiera otra aplicable en la legislación mexicana.
    </p>


    <h2><strong>COOKIES</strong></h2>
    <p>
        El Usuario que tenga acceso al Sitio, conviene en recibir archivos que les transmitan los servidores de la Empresa. Una “Cookie” es un archivo de datos que se almacena en el disco duro de la computadora del Usuario cuando éste acceda al Sitio. Dichos archivos pueden contener información tal como la identificación proporcionada por el Usuario o información para rastrear las páginas que el Usuario ha visitado. Una Cookie no puede leer los datos o información del disco duro del Usuario ni leer las Cookies creadas por otros sitios o páginas. Generalmente, las Cookies son aceptadas automáticamente, el Usuario puede cambiar la configuración de su navegador en cualquier momento. En caso de que el Usuario decida rechazar las Cookies, es posible que ciertas secciones del Sitio no tengan su funcionamiento óptimo o incluso no funcionen en absoluto.
    </p>


    <h2><strong>AVISO DE PRIVACIDAD DE DATOS PERSONALES</strong></h2>
    <p>
        Toda la información que la Empresa recabe del Usuario es tratada con absoluta confidencialidad conforme las disposiciones legales aplicables en la legislación mexicana. Para conocer más sobre la protección de sus datos personales por favor consulte nuestro Aviso de Privacidad.
    </p>


    <h2><strong>MODIFICACIONES</strong></h2>
    <p>
        La Empresa tendrá el derecho de modificar, en cualquier momento, los Términos y Condiciones, sin previo aviso y/o consentimiento del Usuario. En consecuencia, el Usuario debe leer atentamente los Términos y Condiciones cada vez que pretenda utilizar el Sitio. Ciertos Servicios y Contenidos ofrecidos a los Usuarios en y/o a través del Sitio están sujetos a condiciones particulares propias que sustituyen, completan y/o modifican los presentes Términos y Condiciones. Consiguientemente, el Usuario también debe leer atentamente las correspondientes condiciones particulares antes de acceder a cualquiera de los Servicios y Contenidos.
    </p>


    <h2><strong>HERRAMIENTAS OPCIONALES</strong></h2>
    <p>
        En ocasiones, podemos proporcionar al usuario acceso a herramientas de terceros sobre las que no tenemos control. El usuario reconoce y acepta que nuestro sitio web utiliza herramientas de terceros, sin ninguna garantía, representación, condiciones de ningún tipo y sin ningún endoso. No tendremos ninguna responsabilidad derivada o relacionada con el uso de herramientas de terceros. Cualquier uso de dichas herramientas, es bajo el propio riesgo y discreción del usuario, y este debe asegurarse de estar familiarizado con los términos proporcionados por los terceros.
    </p>
    <p>
        Podemos ofrecer nuevos servicios y/o características a través del sitio web (incluyendo el lanzamiento de nuevos productos, herramientas y recursos) en cualquier momento, los cuales también estarán sujetos a nuestros TÉRMINOS DEL SERVICIO.
    </p>


    <h2><strong>ENLACES DE TERCEROS</strong></h2>
    <p>
        Ciertos contenidos o productos disponibles a través de nuestro sitio web pueden incluir imágenes, descripciones, recursos o hipervínculos de terceros que pueden dirigirlo a sitios web que no están afiliados con nosotros. No somos responsables de examinar o evaluar la exactitud y veracidad del contenido de terceros, por lo que no garantizamos y no asumiremos ninguna responsabilidad por ningún otro material, producto o servicio de terceros. 
    </p>


    <h2><strong>ACCESO INTERNACIONAL</strong></h2>
    <p>
        A este sitio se puede acceder desde países distintos de los Estados Unidos Mexicanos. Este sitio puede contener productos o referencias a productos que no están disponibles fuera de los Estados Unidos Mexicanos. Cualquiera de esas referencias no implica que estos productos estarán disponibles fuera de los Estados Unidos Mexicanos. Si el usuario accede y usa este sitio fuera de los Estados Unidos Mexicanos él es responsable de cumplir con las leyes y reglamentos locales.
    </p>


    <h2><strong>LEYES APLICABLES Y JURISDICCIÓN</strong></h2>
    <p>
        Toda controversia, diferencia o reclamación que surja de los presentes Términos y Condiciones y de toda enmienda al mismo o relativa a los presentes Términos y Condiciones, incluyendo en particular, su formación, validez, obligatoriedad, interpretación, ejecución, incumplimiento o terminación, así como las reclamaciones extracontractuales, serán sometidas a mediación de conformidad con el Reglamento de Mediación de la OMPI. La mediación tendrá lugar en la ciudad de { city }. El idioma que se utilizará en la mediación será el español.
    </p>
    <p>
        Si alguna de las disposiciones de los presentes Términos y Condiciones es declarada nula, ilegal o inaplicable, la validez, legalidad y aplicación de las restantes disposiciones continuarán en plena vigencia.
    </p>


    <h2><strong>COMENTARIOS DE LOS USUARIOS</strong></h2>
    <p>
        Si, a petición nuestra, el usuario envía comentarios específicos (por ejemplo, satisfacción en el servicio), éste acepta que podemos, en cualquier momento, sin restricciones, editar, copiar, publicar, distribuir, traducir y de otra manera utilizar cualquier comentario que nos envíe, en cualquier medio. Somos y no estaremos obligados (1) a mantener comentarios confidenciales; (2) a pagar una compensación por cualquier comentario; o (3) responder a cualquier comentario.
    </p>


    <h2><strong>CONTACTO</strong></h2>
    <p>
        El Usuario puede contactar, en todo momento, al personal de la Empresa para cualquier aclaración, comentario, duda y/o sugerencia relacionada con los Servicios y Contenidos, con el Sitio y/o con los presentes Términos y Condiciones vía correo electrónico a <a href=`mailto:${ email }`>{ email }</a>
    </p>

    
    <p class="text-sm text-right"><em>
        Fecha de Actualización 04/06/2025
    </em></p>

</section>