---
import { getI18N } from "../../i18n";

const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );
---


<section>

    <img
        src="/images/services/sector.webp"
        alt="Sector Automotriz"
        class="w-full h-auto object-cover"
    />

    <div class="flex items-center py-6 gap-4 md:gap-8 lg:gap-32 xl:gap-32">
        <img
            src="/images/services/redArrow2.png"
            alt="redArrow2"
            class="h-full w-10 md:w-40 lg:w-96 xl:w-xl"
        />

        <div class="relative flex-1 w-full">
            <img 
                src="/images/services/formacurva2.png" 
                alt="formacurva2" 
                class="w-full h-full object-contain"
            />
            <div class="absolute inset-0 flex items-center justify-center px-10 md:px-20">
                <p class="text-white text-base md:text-3xl lg:text-2xl xl:text-3xl font-light">
                    { i18n.SERVICES.AUTOMOTRIZ_SECTION.TEXT1 }.
                </p>
            </div>
        </div>
    </div>

</section>