---
import { getI18N } from "../../i18n";

const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );
---


<section>

    <div class="relative bg-gray-300">
        <img 
            id={ i18n.HOME.SOLUCIONES_SECTION.LINK1 }
            src="/images/services/importacionyExportacionbien.webp" 
            alt="Importacion y exportacion" 
            class="w-full h-full object-cover aspect-[16/9]" 
        />
        <div 
            data-aos="fade-in" data-aos-duration="1500"
            class="
                absolute text-white font-bold uppercase
                bottom-8 right-8
                md:bottom-16 md:right-16  
                text-2xl md:text-4xl xl:text-5xl
            "
        >
            <h2 class="text-right">{ i18n.SERVICES.IMPORTACION_SECTION.SECTION1.TEXT1 }</h2>
            <h2>{ i18n.SERVICES.IMPORTACION_SECTION.SECTION1.TEXT2 }</h2>
        </div>
    </div>

    <div class="flex flex-col lg:flex-row items-start gap-6 lg:gap-0 py-6">
    
        <div class="flex-1 flex justify-center mx-auto px-24 md:px-0 text-[#233E1D]">
            <div  class="space-y-6 ">
                <h3 data-aos="fade-in" data-aos-duration="2000" class="text-base md:text-3xl lg:text-2xl xl:text-3xl font-bold">
                    { i18n.SERVICES.IMPORTACION_SECTION.SECTION2.TEXT1 }<br class="hidden sm:block" />
                    { i18n.SERVICES.IMPORTACION_SECTION.SECTION2.TEXT2 }
                </h3>
        
                <ul class="list-disc pl-5 text-base md:text-xl lg:text-lg xl:text-xl">
                    <li data-aos="fade-right" data-aos-duration="1500">{ i18n.SERVICES.IMPORTACION_SECTION.SECTION2.TEXT3 }</li>
                    <li data-aos="fade-right" data-aos-duration="1500">{ i18n.SERVICES.IMPORTACION_SECTION.SECTION2.TEXT4 }</li>
                    <li data-aos="fade-right" data-aos-duration="1500">{ i18n.SERVICES.IMPORTACION_SECTION.SECTION2.TEXT5 }</li>
                    <li data-aos="fade-right" data-aos-duration="1500">{ i18n.SERVICES.IMPORTACION_SECTION.SECTION2.TEXT6 }</li>
                </ul>
            </div>
        </div>
    
        <div data-aos="fade-left" data-aos-duration="1500" class="relative flex-1 w-full">
            <img 
                src="/images/services/formacurva1.png" 
                alt="Forma decorativa" 
                class="w-full h-full object-contain"
            />
            <div class="absolute inset-0 flex items-center justify-center px-10 md:px-20">
                <p class="text-white text-base md:text-3xl lg:text-2xl xl:text-3xl font-light">
                    { i18n.SERVICES.IMPORTACION_SECTION.SECTION2.TEXT7 }
                    <span class="font-bold">{ i18n.SERVICES.IMPORTACION_SECTION.SECTION2.TEXT8 }</span> { i18n.SERVICES.IMPORTACION_SECTION.SECTION2.TEXT9 }
                    <span class="font-bold">{ i18n.SERVICES.IMPORTACION_SECTION.SECTION2.TEXT10 }</span>.
                </p>
            </div>
        </div>
    
    </div>

</section>