<section>

    <div class="relative">
        <img 
            src="/images/services/importacionyExportacion.webp" 
            alt="Importacion y exportacion" 
            class="w-full h-auto object-cover" 
        />
        <div class="absolute bottom-16 right-16 text-white text-5xl font-bold">
            <h2 class="text-right">IMPORTACIÓN</h2>
            <h2>Y EXPORTACIÓN</h2>
        </div>
    </div>


    <div class="flex flex-col lg:flex-row items-start gap-6 lg:gap-0 py-6">
    
        <div class="flex-1 flex justify-center mx-auto text-[#233E1D]">
            <div class="space-y-6">
                <h3 class="text-3xl font-bold">
                    Soluciones personalizadas con<br class="hidden sm:block" />
                    especialización en la industria
                </h3>
        
                <ul class="list-disc pl-5 text-xl">
                    <li>Despachos y Asesoría</li>
                    <li>Gestión y trámites legales</li>
                    <li>Consultoría empresarial</li>
                    <li>Planeación estratégica</li>
                </ul>
            </div>
        </div>
    
        <div class="relative flex-1 w-full">
            <img 
                src="/images/services/formacurva1.png" 
                alt="Forma decorativa" 
                class="w-full h-full object-contain"
            />
            <div class="absolute inset-0 flex items-center justify-center px-5 sm:px-10 md:px-20">
                <p class="text-white text-base sm:text-lg md:text-3xl font-light">
                    A través de los puertos de 
                    <span class="font-bold">Veracruz, Altamira y Manzanillo</span> y las terminales intermodal de 
                    <span class="font-bold">San Luis Potosí y Monterrey NL</span>.
                </p>
            </div>
        </div>
    
    </div>

</section>