---
import { getI18N } from "../../i18n";

const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );
---


<section>

    <div class="relative">
        <img
            src="/images/services/logistica.webp"
            alt="Logística"
            class="w-full h-auto object-cover"
        />
        <div class="absolute bottom-16 right-16">
            <h2 class="text-white text-5xl font-bold uppercase">{ i18n.SERVICES.LOGISTICA_SECTION.SECTION1.TEXT1 }</h2>
        </div>
    </div>  
    <div class="flex justify-center items-center bg-[#1f3d1e] py-4 sm:py-6 text-white text-justify text-xl font-light">
        <div class="w-xl my-2">
            { i18n.SERVICES.LOGISTICA_SECTION.SECTION1.TEXT2 }
            <span class="font-semibold">{ i18n.SERVICES.LOGISTICA_SECTION.SECTION1.TEXT3 }</span>.
        </div>
    </div>
      
       
    <div class="flex flex-col sm:flex-row justify-center items-center gap-16 text-[#1f3d1e] text-xl my-8">
  
        <div class="flex-1 flex justify-end">
            <ul>
                <li class="list-disc">
                    { i18n.SERVICES.LOGISTICA_SECTION.SECTION2.TEXT1 } <span class="font-semibold">{ i18n.SERVICES.LOGISTICA_SECTION.SECTION2.TEXT2 }</span><br />
                    { i18n.SERVICES.LOGISTICA_SECTION.SECTION2.TEXT3 }<br />
                    { i18n.SERVICES.LOGISTICA_SECTION.SECTION2.TEXT4 }.
                </li>
            </ul>
        </div>
      
        <div class="flex-1 flex justify-start">
            <ul>
                <li class="list-disc">
                    { i18n.SERVICES.LOGISTICA_SECTION.SECTION2.TEXT5 } <span class="font-semibold">{ i18n.SERVICES.LOGISTICA_SECTION.SECTION2.TEXT6 }</span> { i18n.SERVICES.LOGISTICA_SECTION.SECTION2.TEXT7 }<br />
                    { i18n.SERVICES.LOGISTICA_SECTION.SECTION2.TEXT8 },<br />
                    { i18n.SERVICES.LOGISTICA_SECTION.SECTION2.TEXT9 }.
                </li>
            </ul>
        </div>
    </div>

</section>
