<section>

    <div class="relative">
        <img
            src="/images/services/logistica.webp"
            alt="Logística"
            class="w-full h-auto object-cover"
        />
        <div class="absolute bottom-16 right-16">
            <h2 class="text-white text-5xl font-bold">LOGÍSTICA</h2>
        </div>
    </div>  
    <div class="flex justify-center items-center bg-[#1f3d1e] py-4 sm:py-6 text-white text-justify text-xl font-light">
        <div class="w-xl my-2">
            Bajío, San Luis Potosí, Monterrey y la zona noreste del país asegurando
            <span class="font-semibold">cobertura y eficiencia en las entregas</span>.
        </div>
    </div>
      
       
    <div class="flex flex-col sm:flex-row justify-center items-center gap-16 text-[#1f3d1e] text-xl my-8">
  
        <div class="flex-1 flex justify-end">
            <ul>
                <li class="list-disc">
                    Atención al <span class="font-semibold">sector intermodal ferroviario</span><br />
                    en los puertos internos Guadalupe<br />
                    Victoria (NL) e Interpuerto (SLP).
                </li>
            </ul>
        </div>
      
        <div class="flex-1 flex justify-start">
            <ul>
                <li class="list-disc">
                    Atención al <span class="font-semibold">sector marítimo</span> a<br />
                    través de los puertos de Veracruz,<br />
                    Altamira y Manzanillo.
                </li>
            </ul>
        </div>
    </div>

</section>
