---
import Layout from "../../layouts/Layout.astro";
import HeroSection from "../about/HeroSection.astro";
import HistoriaSection from "../about/HistoriaSection.astro";
import MisionSection from "../about/MisionSection.astro";
---

<Layout title="DAGSA Logistics - Nosotros">
	<main>
        <HeroSection />
		<HistoriaSection />
		<MisionSection />
    </main>
</Layout>