---
import Layout from "../../layouts/Layout.astro";
import MisionSection from "../about/MisionSection.astro";
import ClientesSection from "../home/ClientesSection.astro";
import HomeSlider from "../home/HomeSlider.astro";
import SolucionesSection from "../home/SolucionesSection.astro";
---

<Layout title="DAGSA Logistics">
	<main>
		<HomeSlider />
		<SolucionesSection />
		<ClientesSection />
	</main>
</Layout>
