---
import Layout from "../../layouts/Layout.astro";
import ClientesSection from "../home/ClientesSection.astro";
import HomeSlider from "../home/HomeSlider.astro";
import SolucionesSection from "../home/SolucionesSection.astro";
import { getI18N } from "../../i18n";
import Mapa from "../react/Mapa";

const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );
---

<Layout title={ i18n.HOME.LAYOUT.TITLE }>
	<main>
		<HomeSlider />
		<SolucionesSection />
		<ClientesSection />
		<Mapa client:load/>
	</main>
</Layout>
