---
import Layout from "../../layouts/Layout.astro";
import ClientesSection from "../home/ClientesSection.astro";
import HomeSlider from "../home/HomeSlider.astro";
import SolucionesSection from "../home/SolucionesSection.astro";
import { getI18N } from "../../i18n";


const { currentLocale } = Astro;                    //De la configuracion de astro 
const i18n = getI18N( { currentLocale } );
---

<Layout title={ i18n.PRUEBA }>
	<main>
		<HomeSlider />
		<SolucionesSection />
		<ClientesSection />
	</main>
</Layout>
