---
import Layout from "../../layouts/Layout.astro";
import PoliticaCookiesContent from "../avisos-y-politicas/PoliticaCookiesContent.astro";
import { getI18N } from "../../i18n";

const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );
---

<Layout title={ i18n.COOKIE_POLICY.LAYOUT.TITLE }>
	<main>
        <PoliticaCookiesContent />
    </main>
</Layout>