<section class="bg-[#eee] relative w-full h-screen">
    
    <img 
        src="/images/about/aboutHero.webp" 
        alt="conocenos" 
        class="absolute inset-0 w-full h-full object-cover" 
    />
   
    <div 
        class="
            absolute z-10 flex flex-col justify-end h-full 
            bottom-16 left-6 md:left-10 lg:left-24
        ">
        <div class="max-w-2xs md:max-w-xl lg:max-w-2xl text-white">
            <h2 class="
                font-bold uppercase mb-10 text-shadow-lg/30
                text-4xl md:text-5xl lg:text-6xl  
            ">
                Conócenos
            </h2>
            <p class="
                text-shadow-lg/30
                text-xl md:text-2xl lg:text-3xl
            ">
                Somos el socio estratégico para tu industria, ofreciéndote soluciones eficientes y seguras
                para el transporte marítimo, terrestre y ferroviario.
            </p>
        </div>
    </div>

    <div class="absolute cursor-pointer bottom-8 right-0 md:right-8 size-28 md:size-32 lg:size-36 z-10">
        <img 
            src="/images/botonWhatsapp.webp" 
            alt="whatsapp"
            class="w-full h-full object-contain"
        />
    </div>

</section>