---
import { getI18N } from "../../i18n";

const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );
---


<section class="bg-[#a6a6a6] relative w-full h-screen">
    
    <img 
        src="/images/about/aboutHero.webp" 
        alt="Conocenos" 
        class="absolute inset-0 w-full h-full object-cover" 
    />

    <div class="absolute top-0 left-0 w-full h-full bg-black/25 z-10"></div>
   
    <div 
        class="
            absolute z-10 flex flex-col justify-end h-full 
            bottom-16 left-6 md:left-10 lg:left-24
        ">
        <div data-aos="fade-in" data-aos-duration="2500" class="max-w-2xs md:max-w-xl lg:max-w-2xl text-white">
            <h2 class="
                font-bold uppercase mb-10 text-shadow-lg/30
                text-4xl md:text-5xl lg:text-6xl  
            ">
                { i18n.ABOUT.HERO_SECTION.TITLE }
            </h2>
            <p class="
                text-shadow-lg/30
                text-xl md:text-2xl lg:text-3xl
            ">
                { i18n.ABOUT.HERO_SECTION.TEXT }
            </p>
        </div>
    </div>

</section>