---
import { getI18N } from "../../i18n";

const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );
---


<section>
    <div class="grid grid-cols-3 auto-rows-min my-12">

        <!-- ENCABEZADO MISION -->
        <div class="relative bg-[#dddb0a]">
            <div class="absolute z-10
                    -left-34 top-[52px] size-96
                    md:-left-20 md:top-[75px] md:size-[450px]
                    lg:-left-36 lg:top-[75px] lg:size-[650px]
                    xl:-left-24 xl:top-[75px] xl:size-[650px]
                "
            >
                <img 
                    src="/images/about/gruaMision.webp" 
                    alt="Grúa Misión"
                    class="w-full h-full object-contain"
                />
            </div>
        </div>
        <div class="bg-[#dddb0a] py-2">
            <h2 class="text-[#233E1D] text-3xl md:text-6xl font-semibold uppercase text-center lg:text-left">{ i18n.ABOUT.MISION_SECTION.MISION.TITLE }</h2>
        </div>
        <div class="bg-[#dddb0a] lg:bg-transparent"></div>
        
        <!-- CUERPO MISION -->
        <div class="subgrid grid-cols-3 col-span-3 grid"> 
            <div></div> 
            <p 
                class="
                    text-xl md:text-2xl text-justify text-[#233E1D] py-8 font-light 
                    col-span-2 col-start-2 pr-8 lg:pr-0 
                    lg:col-span-1 lg:col-start-2 
                "
            >
                { i18n.ABOUT.MISION_SECTION.MISION.TEXT1 }
            </p>
            <div></div>
        </div>
   


        <!-- ENCABEZADO VISION -->
        <div></div>
        <div class="bg-[#dddb0a] text-[#233E1D] text-3xl md:text-6xl font-semibold py-2 text-center lg:text-right uppercase">{ i18n.ABOUT.MISION_SECTION.VISION.TITLE }</div>
        <div class="bg-[#dddb0a]"></div>

        <!-- CUERPO VISION -->
        <div class="subgrid grid-cols-3 col-span-3 grid"> 
            <div></div> 
            <p 
                class="
                    text-xl md:text-2xl text-justify text-[#233E1D] py-8 font-light 
                    col-span-2 col-start-2 pr-8 lg:pr-0 
                    lg:col-span-1 lg:col-start-2 
                "
            >
                { i18n.ABOUT.MISION_SECTION.VISION.TEXT1 }
            </p>
            <div></div>
        </div>



        <!-- ENCABEZADO VALORES -->
        <div class="bg-[#dddb0a]"></div>
        <div class="bg-[#dddb0a] text-[#233E1D] text-3xl md:text-6xl font-semibold py-2 text-center lg:text-left uppercase">{ i18n.ABOUT.MISION_SECTION.VALORES.TITLE }</div>
        <div class="relative bg-[#dddb0a] flex justify-end">
            <img 
                src="/images/about/maquina.webp" 
                alt="Grúa Misión"
                class="absolute max-w-none object-contain z-10 
                    right-2 top-[550px] w-48
                    md:right-2 md:top-72 md:w-80
                    lg:right-4 lg:top-64 lg:w-[400px]
                    xl:right-9 xl:top-24 xl:w-[500px]
                "
            /> 
        </div>
        
        <!-- CUERPO VALORES -->
        <div class="subgrid grid-cols-3 col-span-3 grid">
            <div></div> 
            <div 
                class="
                    col-span-2 col-start-1 
                    lg:col-span-1 lg:col-start-2 pl-8 lg:pl-0
                    text-xl md:text-2xl text-justify text-[#233E1D] py-8 font-light
                ">
                <div class="space-y-4">
                    <p class="text-[#233E1D] text-left font-semibold tracking-[4px] uppercase">
                        { i18n.ABOUT.MISION_SECTION.VALORES.VALOR1.TITLE }
                    </p>
                    <p class="text-justify text-[#233E1D] font-light">
                        { i18n.ABOUT.MISION_SECTION.VALORES.VALOR1.TEXT1 }
                    </p>
                </div>
        
                <div class="mt-8 space-y-4">
                    <p class="text-[#233E1D] text-left font-semibold tracking-[4px] uppercase">
                        { i18n.ABOUT.MISION_SECTION.VALORES.VALOR2.TITLE }
                    </p>
                    <p class="text-justify text-[#233E1D] font-light">
                        { i18n.ABOUT.MISION_SECTION.VALORES.VALOR2.TEXT1 }
                    </p>
                </div>
        
                <div class="mt-8 space-y-4">
                    <p class="text-[#233E1D] text-left font-semibold tracking-[4px] uppercase">
                        { i18n.ABOUT.MISION_SECTION.VALORES.VALOR3.TITLE }
                    </p>
                    <p class="text-justify text-[#233E1D] font-light">
                        { i18n.ABOUT.MISION_SECTION.VALORES.VALOR3.TEXT1 }
                    </p>
                </div>
        
                <div class="mt-8 space-y-4">
                    <p class="text-[#233E1D] text-left font-semibold tracking-[4px] uppercase">
                        { i18n.ABOUT.MISION_SECTION.VALORES.VALOR4.TITLE }
                    </p>
                    <p class="text-justify text-[#233E1D] font-light">
                        { i18n.ABOUT.MISION_SECTION.VALORES.VALOR4.TEXT1 }
                    </p>
                </div>
            </div>
            <div></div> 
        </div>

    </div>
</section>


<!-- <section>
    <div class="grid grid-cols-3 auto-rows-min my-12">

        <div class="relative bg-[#dddb0a]">
            <div class="absolute z-10
                    lg:-left-36 lg:top-[75px] lg:size-[650px]
                    xl:-left-24 xl:top-[75px] xl:size-[650px]
                ">
                <img 
                    src="/images/about/gruaMision.webp" 
                    alt="Grúa Misión"
                    class="w-full h-full object-contain"
                />
            </div>
        </div>
        <div class="bg-[#dddb0a] py-2">
            <h2 class="text-[#233E1D] text-6xl font-semibold uppercase">{ i18n.ABOUT.MISION_SECTION.MISION.TITLE }</h2>
        </div>
        <div></div>
        <div></div>
        <p class="text-2xl text-justify text-[#233E1D] py-8 font-light">
            { i18n.ABOUT.MISION_SECTION.MISION.TEXT1 }
        </p>
        <div></div>


        <div></div>
        <div class="bg-[#dddb0a] text-[#233E1D] text-6xl font-semibold py-2 text-right uppercase">{ i18n.ABOUT.MISION_SECTION.VISION.TITLE }</div>
        <div class="bg-[#dddb0a]"></div>
        <div></div>
        <p class="text-2xl text-justify text-[#233E1D] py-8 font-light">
            { i18n.ABOUT.MISION_SECTION.VISION.TEXT1 }
        </p>
        <div></div>


        <div class="bg-[#dddb0a]"></div>
        <div class="bg-[#dddb0a] text-[#233E1D] text-6xl font-semibold py-2 uppercase">{ i18n.ABOUT.MISION_SECTION.VALORES.TITLE }</div>
        <div class="relative bg-[#dddb0a] flex justify-end">
            <img 
                src="/images/about/maquina.webp" 
                alt="Grúa Misión"
                class="absolute right-0 top-10 w-[400px] md:w-[550px] lg:w-[540px] max-w-none object-contain z-10"
            />
        </div>
        <div></div>
        <div class="text-2xl text-justify text-[#233E1D] py-8 font-light">
            <div class="space-y-4">
                <p class="text-[#233E1D] font-semibold tracking-[4px] uppercase">{ i18n.ABOUT.MISION_SECTION.VALORES.VALOR1.TITLE }</p>
                <p class="text-2xl text-justify text-[#233E1D] font-light">
                    { i18n.ABOUT.MISION_SECTION.VALORES.VALOR1.TEXT1 }
                </p>
            </div>
            <div class="mt-8 space-y-4">
                <p class="text-[#233E1D] font-semibold tracking-[4px] uppercase">{ i18n.ABOUT.MISION_SECTION.VALORES.VALOR2.TITLE }</p>
                <p class="text-2xl text-justify text-[#233E1D] font-light">
                    { i18n.ABOUT.MISION_SECTION.VALORES.VALOR2.TEXT1 }
                </p>
            </div>
            <div class="mt-8 space-y-4">
                <p class="text-[#233E1D] font-semibold tracking-[4px] uppercase">{ i18n.ABOUT.MISION_SECTION.VALORES.VALOR3.TITLE }</p>
                <p class="text-2xl text-justify text-[#233E1D] font-light">
                    { i18n.ABOUT.MISION_SECTION.VALORES.VALOR3.TEXT1 }
                </p>
            </div>
            <div class="mt-8 space-y-4">
                <p class="text-[#233E1D] font-semibold tracking-[4px] uppercase">{ i18n.ABOUT.MISION_SECTION.VALORES.VALOR4.TITLE }</p>
                <p class="text-2xl text-justify text-[#233E1D] font-light">
                    { i18n.ABOUT.MISION_SECTION.VALORES.VALOR4.TEXT1 }
                </p>
            </div>
        </div>
        <div></div>

    </div>
</section> -->