---
import { getI18N } from "../../i18n";

const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );
---


<section>
    <div class="grid grid-cols-3 auto-rows-min my-12">

        <div class="relative bg-[#dddb0a]">
            <div class="absolute -left-20 top-[75px] size-[650px] z-10">
                <img 
                    src="/images/about/gruaMision.webp" 
                    alt="Grúa Misión"
                    class="w-full h-full object-contain"
                />
            </div>
        </div>
        <div class="bg-[#dddb0a] py-2">
            <h2 class="text-[#233E1D] text-6xl font-semibold uppercase">{ i18n.ABOUT.MISION_SECTION.MISION.TITLE }</h2>
        </div>
        <div></div>
        <div></div>
        <p class="text-2xl text-justify text-[#233E1D] py-8 font-light">
            { i18n.ABOUT.MISION_SECTION.MISION.TEXT1 }
        </p>
        <div></div>


        <div></div>
        <div class="bg-[#dddb0a] text-[#233E1D] text-6xl font-semibold py-2 text-right uppercase">{ i18n.ABOUT.MISION_SECTION.VISION.TITLE }</div>
        <div class="bg-[#dddb0a]"></div>
        <div></div>
        <p class="text-2xl text-justify text-[#233E1D] py-8 font-light">
            { i18n.ABOUT.MISION_SECTION.VISION.TEXT1 }
        </p>
        <div></div>


        <div class="bg-[#dddb0a]"></div>
        <div class="bg-[#dddb0a] text-[#233E1D] text-6xl font-semibold py-2 uppercase">{ i18n.ABOUT.MISION_SECTION.VALORES.TITLE }</div>
        <div class="relative bg-[#dddb0a] flex justify-end">
            <img 
                src="/images/about/maquina.webp" 
                alt="Grúa Misión"
                class="absolute right-0 top-10 w-[400px] md:w-[550px] lg:w-[540px] max-w-none object-contain z-10"
            />
        </div>
        <div></div>
        <div class="text-2xl text-justify text-[#233E1D] py-8 font-light">
            <div class="space-y-4">
                <p class="text-[#233E1D] font-semibold tracking-[4px] uppercase">{ i18n.ABOUT.MISION_SECTION.VALORES.VALOR1.TITLE }</p>
                <p class="text-2xl text-justify text-[#233E1D] font-light">
                    { i18n.ABOUT.MISION_SECTION.VALORES.VALOR1.TEXT1 }
                </p>
            </div>
            <div class="mt-8 space-y-4">
                <p class="text-[#233E1D] font-semibold tracking-[4px] uppercase">{ i18n.ABOUT.MISION_SECTION.VALORES.VALOR2.TITLE }</p>
                <p class="text-2xl text-justify text-[#233E1D] font-light">
                    { i18n.ABOUT.MISION_SECTION.VALORES.VALOR2.TEXT1 }
                </p>
            </div>
            <div class="mt-8 space-y-4">
                <p class="text-[#233E1D] font-semibold tracking-[4px] uppercase">{ i18n.ABOUT.MISION_SECTION.VALORES.VALOR3.TITLE }</p>
                <p class="text-2xl text-justify text-[#233E1D] font-light">
                    { i18n.ABOUT.MISION_SECTION.VALORES.VALOR3.TEXT1 }
                </p>
            </div>
            <div class="mt-8 space-y-4">
                <p class="text-[#233E1D] font-semibold tracking-[4px] uppercase">{ i18n.ABOUT.MISION_SECTION.VALORES.VALOR4.TITLE }</p>
                <p class="text-2xl text-justify text-[#233E1D] font-light">
                    { i18n.ABOUT.MISION_SECTION.VALORES.VALOR4.TEXT1 }
                </p>
            </div>
        </div>
        <div></div>

    </div>
</section>