---
import { getI18N } from "../../i18n";

const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );
---

<!-- REFERENCE: https://codepen.io/kevinpowell/pen/BavVLra -->

<section class="my-24 overflow-hidden relative">

    <h3 data-aos="fade-up" data-aos-duration="2000" class="text-[#DF0A14] font-stretch-95% text-2xl text-center mb-4">
        { i18n.HOME.CLIENTES_SECTION_TEXT }
    </h3>
    
    <div class="scroller" data-direction="right" data-speed="fast">
        <div class="tag_list scroller__inner space-x-20">
            <img src="/images/home/cliente1.svg" alt="Cliente 1" class="size-32 md:size-48 lg:size-64 xl:size-72" />
            <img src="/images/home/cliente2.svg" alt="Cliente 2" class="size-32 md:size-48 lg:size-64 xl:size-72" />
            <img src="/images/home/cliente3.svg" alt="Cliente 3" class="size-32 md:size-48 lg:size-64 xl:size-72" />
            <img src="/images/home/cliente4.svg" alt="Cliente 4" class="size-16 md:size-28 lg:size-36 xl:size-40" />
            <img src="/images/home/cliente5.svg" alt="Cliente 5" class="size-40 md:size-56 lg:size-80 xl:size-96" />
            <img src="/images/home/cliente6.webp" alt="Cliente 6" class="w-40 h-6 md:w-56 md:h-10 lg:w-80 lg:h-16 xl:w-96 xl:h-20" />
        </div>
    </div>
    
</section>

<script is:inline>

    document.addEventListener("astro:page-load", () => {

        const scrollers = document.querySelectorAll(".scroller");

        if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
            addAnimation();
        }

        function addAnimation() {
            scrollers.forEach((scroller) => {
                // add data-animated="true" to every `.scroller` on the page
                scroller.setAttribute("data-animated", true);

                // Make an array from the elements within `.scroller-inner`
                const scrollerInner = scroller.querySelector(".scroller__inner");
                const scrollerContent = Array.from(scrollerInner.children);

                // For each item in the array, clone it
                // add aria-hidden to it
                // add it into the `.scroller-inner`
                scrollerContent.forEach((item) => {
                    const duplicatedItem = item.cloneNode(true);
                    duplicatedItem.setAttribute("aria-hidden", true);
                    scrollerInner.appendChild(duplicatedItem);
                });
            });
        }

    });

</script>


<style>
    .scroller {
        width: 100%;
    }

    .scroller__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .scroller[data-animated="true"] {
        overflow: hidden;
        -webkit-mask: linear-gradient(
            90deg,
            transparent,
            white 20%,
            white 80%,
            transparent
        );
        mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    }

    .scroller[data-animated="true"] .scroller__inner {
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll var(--_animation-duration, 40s)
            var(--_animation-direction, forwards) linear infinite;
    }

    .scroller[data-direction="right"] {
        --_animation-direction: reverse;
    }

    .scroller[data-direction="left"] {
        --_animation-direction: forwards;
    }

    .scroller[data-speed="fast"] {
        --_animation-duration: 20s;
    }

    .scroller[data-speed="slow"] {
        --_animation-duration: 60s;
    }

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 0.5rem));
        }
    }
</style>