<section>
    <div class="my-24">

        <h3 class="text-[#DF0A14] font-stretch-95% text-2xl text-center mb-6">Clientes que confían en nosotros</h3>

        <img
            src="/images/home/logosClientes.svg"
            alt="clientes"
            class="w-full h-auto object-cover px-28"
        />

    </div>
</section>