---
import { getI18N } from "../../i18n";

const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );
---


<section  class="my-24">
    <h3 data-aos="fade-up" data-aos-duration="2000" class="text-[#DF0A14] font-stretch-95% text-2xl text-center mb-10">
        { i18n.HOME.CLIENTES_SECTION_TEXT }
    </h3>
  
    <div data-aos="zoom-in" data-aos-duration="1500" class="flex flex-wrap justify-center items-center gap-y-0 gap-10 px-4 md:px-0">
        <img
            src="/images/home/cliente1.svg"
            alt="Cliente 1"
            class="size-40 md:size-44 object-contain"
        />
        <img
            src="/images/home/cliente2.svg"
            alt="Cliente 2"
            class="size-40 md:size-44 object-contain"
        />
        <img
            src="/images/home/cliente3.svg"
            alt="Cliente 3"
            class="size-40 md:size-44 object-contain"
        />
        <img
            src="/images/home/cliente4.svg"
            alt="Cliente 4"
            class="size-24 md:size-28 object-contain"
        />
        <img
            src="/images/home/cliente5.svg"
            alt="Cliente 5"
            class="size-40 md:size-44 object-contain"
        />
        <img
            src="/images/home/cliente6.png"
            alt="Cliente 6"
            class="size-48 md:size-52 object-contain"
        />
        <img
            src="/images/home/cliente7.svg"
            alt="Cliente 7"
            class="size-40 md:size-44 object-contain"
        />
    </div>
</section>