---
import ChevronLeftIcon from "../icons/ChevronLeftIcon.astro";
import ChevronRightIcon from "../icons/ChevronRightIcon.astro";
import { getI18N } from "../../i18n";
import WhatsappBtn from "../WhatsappBtn.astro";


const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );


const slides = [
    {
        text1: { text: i18n.HOME.SLIDE1.TEXT1, style: "big" },
        text2: { text: i18n.HOME.SLIDE1.TEXT2, style: "normal" },
    },
    {
        text1: { text: i18n.HOME.SLIDE2.TEXT1, style: "big" },
        text2: { text: i18n.HOME.SLIDE2.TEXT2, style: "normal" },
    },
    {
        text1: { text: i18n.HOME.SLIDE3.TEXT1, style: "normal" },
        text2: { text: i18n.HOME.SLIDE3.TEXT2, style: "big" },
        text3: { text: i18n.HOME.SLIDE3.TEXT3, style: "normal" },
    },
];
---


<div class="slider-wrapper relative flex items-center justify-center text-white px-4 text-center" data-locale={currentLocale}>

    <video 
        autoplay 
        muted 
        loop 
        playsinline 
        class="absolute top-0 left-0 w-full h-full object-cover z-0"
    >
        <source src="/homeVideo.mp4" type="video/mp4">
            Tu navegador no soporta videos HTML5.
    </video>

    <div class="absolute top-0 left-0 w-full h-full bg-black/30 z-10"></div>
        
    <div class="max-w-2xl uppercase relative z-10">
        <p
            id="slider-text1"
            class={`fade show text-shadow-lg/30 ${slides[0].text1.style === "big" ? "font-bold text-3xl md:text-5xl lg:text-5xl" : "text-sm md:text-xl lg:text-4xl"}`}
        >
            {slides[0].text1.text}
        </p>
        <p
            id="slider-text2"
            class={`fade show text-shadow-lg/30 ${slides[0].text2.style === "big" ? "font-bold text-3xl md:text-5xl lg:text-5xl" : "text-sm md:text-xl lg:text-4xl"}`}
        >
            {slides[0].text2.text}
        </p>
        <p
            id="slider-text3"
            class={`fade show text-shadow-lg/30 ${slides[0].text3 ? (slides[0].text3.style === "big" ? "font-bold text-3xl md:text-5xl lg:text-5xl" : "text-sm md:text-xl lg:text-4xl") : "hidden"}`}
        >
            {slides[0].text3?.text ?? ""}
        </p>
    </div>
    
    <button id="prev-slide" class="absolute left-0 md:left-0 lg:left-40 xl:left-80 top-1/2 -translate-y-1/2 text-[#DF0A14] cursor-pointer z-10">
        <ChevronLeftIcon class="size-8 md:size-16" />
    </button>
    <button id="next-slide" class="absolute right-0 md:right-0 lg:right-40 xl:right-80 top-1/2 -translate-y-1/2 text-[#DF0A14] cursor-pointer z-10">
        <ChevronRightIcon class="size-8 md:size-16" />
    </button>

    <WhatsappBtn />
</div>


<!-- <script is:inline src="/scripts/i18nHomeSlider.js"></script>
<script is:inline src="/scripts/initHomeSlider.js"></script> -->
<script type="module" is:inline data-astro-rerun>
    const locale = document.querySelector(".slider-wrapper")?.dataset.locale || "es";

    if (document.readyState === "complete") {
        window.initHomeSlider(locale);
    } else {
        window.addEventListener("DOMContentLoaded", () => {
            window.initHomeSlider(locale);
        });
    }

    document.addEventListener("astro:after-swap", () => {
        window.initHomeSlider(locale);
    });
</script>


<style>
    .slider-wrapper {
        background: #a6a6a6;
        min-height: 100vh;
    }

    .fade {
        opacity: 0;
        transition: opacity 0.6s ease;
    }

    .fade.show {
        opacity: 1;
    }
</style>