---
import { getI18N } from "../../i18n";

const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );
---

<section>
    <div class="max-w-6xl mx-auto px-4">

        <img 
            src="/images/home/gruag.webp"
            class="absolute -mt-16 hidden md:hidden lg:block lg:ml-28 w-20 z-10" 
            alt="Logo"
        />

        <div class="text-center my-16">
            <h2 class="text-2xl md:text-5xl font-extrabold text-[#DF0A14] uppercase">
                { i18n.HOME.SOLUCIONES_SECTION.TITLE1 }
            </h2>
            <p class="text-2xl md:text-4xl font-bold text-[#233E1D] uppercase">
                { i18n.HOME.SOLUCIONES_SECTION.TITLE2 }
            </p>
        </div>
    
       
        <div class="flex flex-wrap justify-center gap-12 lg:grid lg:grid-cols-3 lg:gap-20">

            <div class="relative w-full max-w-[350px] h-[450px] overflow-hidden rounded shadow-md group transition-transform transform hover:scale-105 duration-700">
                <img
                    src="/images/home/importacion.webp"
                    alt="Importación y exportación"
                    class="w-full h-full object-cover object-[75%_25%]"
                />
                <div class="absolute bottom-10 left-1/2 transform -translate-x-1/2 text-center">
                    <h3 class="text-white text-2xl font-semibold">
                        { i18n.HOME.SOLUCIONES_SECTION.CARD1 }
                    </h3>
                </div>
            </div>
    
            <div class="relative w-full max-w-[350px] h-[450px] overflow-hidden rounded shadow-md group transition-transform transform hover:scale-105 duration-700">
                <img
                    src="/images/home/logistica.webp"
                    alt="Logística"
                    class="w-full h-full object-cover"
                />
                <div class="absolute bottom-10 left-1/2 transform -translate-x-1/2 text-center">
                    <h3 class="text-white text-2xl font-semibold">
                        { i18n.HOME.SOLUCIONES_SECTION.CARD2 }
                    </h3>
                </div>
            </div>
    
            
            <div class="relative w-full max-w-[350px] h-[450px] overflow-hidden rounded shadow-md group transition-transform transform hover:scale-105 duration-700">
                <img
                    src="/images/home/optimizacion.webp"
                    alt="Optimización de la cadena de suministros"
                    class="w-full h-full object-cover object-left"
                />
                <div class="absolute bottom-10 left-1/2 transform -translate-x-1/2 text-center">
                    <h3 class="text-white text-2xl font-semibold">
                        { i18n.HOME.SOLUCIONES_SECTION.CARD3 }
                    </h3>
                </div>
            </div>
        </div>
        
</section>