---
import { getI18N } from "../../i18n";

const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );
---


<section>

    <div 
        class="relative w-full bg-cover bg-center bg-no-repeat"
        style="background-image: url('/images/contact/bgContact.webp')"
    >
        
        <div class="bg-black/30 w-full h-full absolute inset-0"></div>
    
        <div class="relative z-10 px-8 lg:px-16 mx-auto py-20 pt-56 grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-8">
        
            <div class="text-white">
                <div class="font-bold">
                    <p class="text-5xl md:text-5xl lg:text-7xl uppercase">
                        { i18n.CONTACT.SECTION1.TEXT1 }
                    </p>
                    <p class="text-3xl md:text-3xl lg:text-5xl uppercase">
                        { i18n.CONTACT.SECTION1.TEXT2 }
                    </p>
                </div>
                
                <p class="text-2xl md:text-2xl lg:text-4xl mt-16">
                    { i18n.CONTACT.SECTION1.TEXT3 }.
                </p>
            </div>
    
            <form class="space-y-4">

                <input 
                    type="text" 
                    placeholder=`${ i18n.CONTACT.SECTION2.TEXT1 }*` 
                    class="w-full p-3 rounded-xl border bg-white/80 text-xl lg:text-2xl font-light" 
                    required 
                />
                <input 
                    type="email" 
                    placeholder=`${ i18n.CONTACT.SECTION2.TEXT2 }*`
                    class="w-full p-3 rounded-xl border bg-white/80 text-xl lg:text-2xl font-light" 
                    required 
                />
                <input 
                    type="tel" 
                    placeholder=`${ i18n.CONTACT.SECTION2.TEXT3 }*` 
                    class="w-full p-3 rounded-xl border bg-white/80 text-xl lg:text-2xl font-light" 
                    required 
                />
                <textarea 
                    placeholder=`${ i18n.CONTACT.SECTION2.TEXT4 }*` 
                    rows="4" 
                    class="w-full p-3 rounded-xl border bg-white/80 text-xl lg:text-2xl font-light" 
                    required
                />
                
                <div class="flex flex-col xl:flex-row justify-between items-center gap-4 px-1">
                    <div class="flex items-center gap-2">
                        <label class="inline-flex items-center cursor-pointer relative">
                            <input 
                                type="checkbox"
                                class="size-12 
                                    appearance-none border-4 rounded-xl cursor-pointer
                                    bg-[#d9d9d9] border-[#aeaeb0]
                                    hover:border-[#d9d9d9] hover:bg-[#d9d9d9]
                                    checked:bg-[#d9d9d9] checked:border-[#545454]
                                    transition-all duration-400 peer
                                " 
                                required 
                            />

                            <svg 
                                class="
                                    absolute size-10 text-[#545454] pointer-events-none left-1 top-1 opacity-0 
                                    peer-checked:opacity-100 transition-opacity duration-100
                                " 
                                fill="none" 
                                stroke="currentColor" 
                                stroke-width="3" 
                                viewBox="0 0 24 24"
                            >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>

                            <label for="terms" class="ml-4 text-xl lg:text-2xl text-white font-light">
                                *{ i18n.CONTACT.SECTION2.TEXT5 }
                            </label>

                        </label>
                    </div>
                    
                    <button class="
                        px-10 py-1 text-xl lg:text-2xl font-bold border-4 rounded-xl cursor-pointer uppercase
                        text-[#545454] bg-[#d9d9d9] border-[#aeaeb0] 
                        hover:border-[#d9d9d9] hover:bg-[#d9d9d9] transition-all duration-400 
                    ">
                        { i18n.CONTACT.SECTION2.TEXT6 }
                    </button>
                </div>
                
            </form>
        </div>
    </div>

    <div class="w-full">
        <img 
            src="/images/contact/footerContact.webp" 
            alt="Footer Contact" class="w-full object-cover" 
        />
    </div>
</section>


