---
import MapPinIcon from "./icons/MapPinIcon.astro";
import WhatsAppIcon from "./icons/WhatsAppIcon.astro";
import MailIcon from "./icons/MailIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import FacebookIcon from "./icons/FacebookIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import YoutubeIcon from "./icons/YoutubeIcon.astro";
import { getI18N } from "../i18n";
import { getLangFromUrl, useTranslatedPath, useTranslations } from "../i18n/utils";
import HeaderLink from "./HeaderLink.astro";

const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
---


<footer class="relative bg-[#233E1D] text-white">

    <img 
        src="/images/anclaFooter.webp" 
        alt="Ancla Footer"
        class="absolute right-0 bottom-0 h-full max-w-none pointer-events-none select-none opacity-30"
    />

    <div class=" flex flex-col xl:flex-row justify-between py-10 gap-10
        px-12 md:px-24 lg:px-28 xl:px-36 
    ">

        <div>
            
            <HeaderLink 
                checkActive={false}
                href={translatePath('/')} 
                aria-label="Logo DAGSA"
            >
                <img 
                    src="/images/logo_DAGSA.svg"
                    class="-mt-10 mb-3 w-48 xl:40 mx-auto" 
                    alt="Logo DAGSA"
                />
            </HeaderLink>

            <div class="text-xl font-bold h-12 bg-[#DF0A14] flex justify-center items-center px-6 space-x-4">
                <div class="bg-white rounded-full size-8 p-1 flex items-center justify-center cursor-pointer">
                    <InstagramIcon class="size-8 text-[#DF0A14]" />
                </div>
                <div class="cursor-pointer">
                    <FacebookIcon class="size-9 fill-[#DF0A14]" />
                </div>
                <div class="cursor-pointer">
                    <LinkedinIcon class="size-8 bg-[#DF0A14] " />
                </div>
                <div class="bg-white p-1 rounded-full size-8 flex items-center justify-center cursor-pointer">
                    <YoutubeIcon class="size-8 fill-[#DF0A14]" />
                </div>
            </div>
        </div>

        <div class="space-y-4 text-base md:text-xl lg:text-xl xl:text-base mx-auto xl:mx-0 font-light items-center">
            <div class="flex">
                <MapPinIcon class="size-6 text-[#DF0A14]"/>
                <div class="ml-1">
                    <p>Isabel la Católica #1450 Altos. Col. Electricistas</p>
                    <p>C.P. 91916, Veracruz, Ver</p>
                </div>
            </div>
            <div class="flex items-center">
                <WhatsAppIcon class="size-5 text-[#DF0A14]"/>
                <p class="ml-2">(229) 929 14 85</p>
            </div>
            <div class="flex items-center">
                <MailIcon class="size-5 text-[#DF0A14] mr-1"/>
                <p class="ml-1"><a href=`mailto:direccion@despachosyasesoria.com`>direccion@despachosyasesoria.com</a></p>
            </div>
        </div>
            
        <div class="hidden md:block text-xl text-center xl:text-left font-semibold uppercase">
            <ul class="space-y-1">
                <li><a href={translatePath('/')} class="hover:text-[#DF0A14]">{t('nav.inicio')}</a></li>
                <li><a href={translatePath('/servicios')} class="hover:text-[#DF0A14]">{t('nav.servicios')}</a></li>
                <li><a href={translatePath('/nosotros')} class="hover:text-[#DF0A14]">{t('nav.nosotros')}</a></li>
                <li><a href={translatePath('/contacto')} class="hover:text-[#DF0A14]">{t('nav.contacto')}</a></li>
            </ul>
        </div>
    
        <div class="text-base md:text-xl text-center xl:text-left underline underline-offset-1 text-[#657861]">
            <ul class="space-y-1">
                <li><a href={translatePath('/aviso-privacidad')}>{t('nav.avisoPrivacidad')}</a></li>
                <li><a href={translatePath('/politica-legal')}>{t('nav.politicaLegal')}</a></li>
                <li><a href={translatePath('/politica-cookies')}>{t('nav.politicaCookies')}</a></li>
            </ul>
        </div>

    </div>

    <div class="px-12 md:px-24 lg:px-28 xl:px-36">
        <div class="border-t border-[#657861] py-4">

            <p class="mb-2 text-center text-base text-white">
                © { new Date().getFullYear() } DAGSA. { i18n.FOOTER.RIGHTS }.
            </p>

            <p class="text-center text-base text-[#657861]">
                { i18n.FOOTER.DEVELOP }
                <a 
                    href="https://talkweb.com.mx" 
                    target="_blank" 
                    rel="noopener noreferrer" 
                >
                    TalkWeb
                </a>
            </p>
        </div>
    </div>
</footer>