---
interface Props {
    checkActive?: boolean
    href: string
    class?: string
}

const {
    href,
    class: className,
    checkActive = true,
    ...restOfProps
} = Astro.props

const currentPath = Astro.url.pathname

function normalizePath(path: string) {
  return path === '/' ? '/' : path.replace(/\/$/, '');
}

const normalizedCurrentPath = normalizePath(currentPath);
const normalizedHref = normalizePath(href);

const isActive = normalizedCurrentPath === normalizedHref && checkActive;
---

<a
    href={href}
    class:list={[
        className,
        isActive ? "text-[#DF0A14] font-bold" : "text-white hover:text-[#DF0A14]",
    ]}
    {...restOfProps}
>
    <slot />
</a>