---
import HeaderLink from "./HeaderLink.astro";
import MenuIcon from "./icons/MenuIcon.astro";
import CloseMenuIcon from "./icons/CloseMenuIcon.astro";

import { getRouteFromUrl, useTranslatedPath, getLangFromUrl, useTranslations } from '../i18n/utils';

const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
---


<header id="navbar" class="
    bg-[rgba(35,62,29,0.94)] text-white font-light z-50
    fixed top-0 w-full 
    md:px-6 py-4
">
    
    <div class="
        flex items-center justify-between  gap-4
        mx-4 md:mx-5 lg:mx-12 md:text-xl lg:text-2xl"
    >

        <div class="relative z-10 w-36 h-20 min-w-[8rem] min-h-[5rem] flex items-start">
            <img 
                src="/images/logo_DAGSA.svg"
                alt="Logo DAGSA"
                class="absolute w-full h-auto -top-4"
            />
        </div>

        <div class="hidden md:flex items-center justify-center flex-grow gap-2 md:gap-9 lg:gap-20">
            <HeaderLink href={translatePath('/')} class="uppercase">
                {t('nav.inicio')}
            </HeaderLink>
            <HeaderLink href={translatePath('/nosotros')} class="uppercase">
                {t('nav.nosotros')}
            </HeaderLink>
            <HeaderLink href={translatePath('/servicios')} class="uppercase">
                {t('nav.servicios')}
            </HeaderLink>
            <HeaderLink href={translatePath('/contacto')} class="uppercase">
                {t('nav.contacto')}
            </HeaderLink>
        </div>

        <div class="hidden md:flex items-center gap-2">
            <HeaderLink href={translatePath(`/${route || ''}`, "en")} class="hover:text-red-500">
                EN
            </HeaderLink>
            <span>|</span>
            <HeaderLink href={translatePath(`/${route || ''}`, "es")} class="hover:text-red-500">
                ES
            </HeaderLink>
        </div>
    </div>


    <nav
        id="header-menu"
        class="
            fixed w-full h-dvh inset-0 bg-[rgba(35,62,29,0.99)] text-2xl
            flex flex-col items-center justify-center gap-10
            -translate-y-full transition-transform duration-300 target:translate-y-0
            md:hidden
        "
    >
        <HeaderLink href={translatePath('/')} class="uppercase">
            {t('nav.inicio')}
        </HeaderLink>
        <HeaderLink href={translatePath('/nosotros')} class="uppercase">
            {t('nav.nosotros')}
        </HeaderLink>
        <HeaderLink href={translatePath('/servicios')} class="uppercase">
            {t('nav.servicios')}
        </HeaderLink>
        <HeaderLink href={translatePath('/contacto')} class="uppercase">
            {t('nav.contacto')}
        </HeaderLink>

        <div class="flex items-center gap-2 mt-14">
            <HeaderLink href={translatePath(`/${route || ''}`, "en")} class="hover:text-red-500">
                EN
            </HeaderLink>
            <span>|</span>
            <HeaderLink href={translatePath(`/${route || ''}`, "es")} class="hover:text-red-500">
                ES
            </HeaderLink>
        </div>
    </nav>

    <div class="menu-toggle md:hidden absolute top-8 right-4 z-50">
        <a href="#header-menu" class="menu-open block">
            <MenuIcon class="size-12" />
        </a>
        <a href="#navbar" class="menu-close block">
            <CloseMenuIcon class="size-12" />
        </a>
    </div>
    
</header>

<style>
    #header-menu:target ~ .menu-toggle .menu-open {
        display: none;
    }

    #header-menu:target ~ .menu-toggle .menu-close {
        display: block;
    }

    .menu-close {
        display: none;
    }
</style>