---
import HeaderLink from "./HeaderLink.astro";
import MenuIcon from "./icons/MenuIcon.astro";
import CloseMenuIcon from "./icons/CloseMenuIcon.astro";

import { getRouteFromUrl, useTranslatedPath, getLangFromUrl, useTranslations } from '../i18n/utils';


const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
---

<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50 bg-[rgba(35,62,29,0.94)] text-white font-light">
    <div class="mx-14 flex items-center justify-between gap-16 text-xl">

      <div class="relative z-10 w-36 h-20 min-w-[8rem] min-h-[5rem] flex items-start">
        <img 
          src="/images/logo_DAGSA.svg"
          alt="Logo DAGSA"
          class="absolute w-full h-auto -top-4"
        />
      </div>

        <nav 
            id="header-menu"
            class="
                fixed w-full h-dvh inset-0 bg-[rgba(35,62,29,0.99)] md:text-xl lg:text-xl 
                flex flex-col items-center justify-center gap-20 
                -translate-y-full transition-transform duration-300 target:translate-y-0 
                md:static md:h-[initial] md:bg-[initial] md:flex-row md:translate-y-[initial]"
            >
            <HeaderLink href={translatePath('/')} class="uppercase">
              {t('nav.inicio')}
            </HeaderLink>
            <HeaderLink href={translatePath('/nosotros')} class="uppercase">
              {t('nav.nosotros')}
            </HeaderLink>
            <HeaderLink href={translatePath('/servicios')} class="uppercase">
              {t('nav.servicios')}
            </HeaderLink>
            <HeaderLink href={translatePath('/contacto')} class="uppercase">
              {t('nav.contacto')}
            </HeaderLink>

            <div class="flex items-center justify-center space-x-2">
              <HeaderLink 
                href={translatePath(`/${route ? route : ''}`, "en")} 
                class="hover:text-red-500"
                                                       
              >
                EN
              </HeaderLink>
              <span>|</span>
              <HeaderLink 
                href={translatePath(`/${route ? route : ''}`, "es")} 
                class="hover:text-red-500"
      
              >
                ES
              </HeaderLink>
            </div>

            <a href="#header-nav" class="md:hidden absolute top-6 right-6">
              <CloseMenuIcon class="size-12"/>
            </a>

      

      

      </nav>
        <a href="#header-menu" class="md:hidden">
            <MenuIcon class="size-12"/>
        </a>





    </div>
</header>
