---
import { getI18N } from "../i18n";

const { currentLocale } = Astro;                   
const i18n = getI18N( { currentLocale } );
---


<div class="fixed cursor-pointer bottom-2 -right-2 size-28 md:size-32 lg:size-36 z-10">
    <img 
        src=`/images/${ i18n.WHATSBTN }.webp` 
        alt="whatsapp"
        class="w-full h-full object-contain"
    />
</div>